@charset "UTF-8";

/* CSS Document */

html {
    height: 100%;
}
body {
    font-family: 'Titillium Web', sans-serif;
    background: black;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    height: 100%;
    margin-top: 0px;
}
.blackText {
    color: black;
	
}


.whiteText {
    color: white;
}
.navButton img.hovered {
    opacity: 1;
}
.navButton img {
    width: 48px;
    height: 48px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.navButton {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
}
#leftNav {
    float: left;
}
#rightNav {
    float: right;
}
.imagen {
    position: static;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-image: url(../Images/2.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
}
.imagen span#hiText {
    font-family: 'Titillium Web', sans-serif;
    padding-left: 405px;
    padding-top: 200px;
    width: 61.5%;
}
.imagen #hiText h2 {
    margin-left: -15px;
    letter-spacing: 10px;
    font-size: 128px;
    font-weight: 200;
    color: yellow;
}
.imagen #hiText p {
    font-size: 36px;
    margin-top: -22px;
    font-weight: 200;
    letter-spacing: 1.2px;
    line-height: 1.4;
}
div#purposeDiv {
    padding-top: 1px;
    padding-left: 295px;
    width: 84.65%;
    height: 57.6%;
    background-image: url(../Ciruela/que_hacemos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
span#purposeText h2 {
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 1.2em;
}
span#purposeText {
    padding-top: 194px;
    padding-left: 0px;
    width: 70%;
}
span#purposeText p {
    font-size: 2.1em;
    margin-top: -24px;
    line-height: 1.5;
}
span#subPurposeText {
    padding-top: 2.05%;
    padding-left: 297px;
    width: 65%;
    font-size: 1.22em;
    font-weight: 200;
    letter-spacing: .55px;
}
#purposeLists>ul {
    display: inline-block;
    text-align: left;
    list-style-type: square;
    float: left;
}
#purposeLists>ul>li {
    float: left;
    text-align: left;
    width: auto;
}
#purposeLists>ul>li>h3 {
	font-family: 'Titillium Web', sans-serif;
    font-size: .8em;
    margin-top: 22px;
    margin-left: -3px;
    margin-bottom: 2px;
	font-weight: 700;
	text-shadow: 0px 1px 0px #000000;
}
#purposeLists>ul>li>ul {
    margin-left: -38px;
    padding-left: 17px;
    font-size: 1em;
}
.purposeList ul {
    list-style-type: none;
}
.purposeList ul li:before {
    content: " - ";
}
.purposeList>h4 {
    margin: 0;
    font-weight: 500;
    margin-left: -23px;
    font-size: 1em;
}
.purposeList:nth-child(1) {
    margin-left: 286px;
}
.purposeList:nth-child(2) {
    margin-left: 130px;
}
.purposeList:nth-child(3) {
    margin-left: 112px;
}
.purposeList:nth-child(4) {
    margin-left: 85px;
}
.purposeList:nth-child(5) {
    margin-left: 88px;
}
span#contactoText {
    padding-top: 110px;
    padding-left: 240px;
    letter-spacing: 1px;
	line-height: 24px;
}
span#contactoText h2 {
    font-size: 40px;
    margin-bottom: 70px;
}
#contactInfo div {
    display: inline-block;
}
.infoContent {
    margin-left: 17px;
    font-size: 18px;
}
.infoHeader {
    vertical-align: top;
}
div#contactInfo {
    margin-left: 5px;
}
div#contactTel {
    display: block;
}
div#contactEmail {
    display: block;
}
div#contactEmail a {
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
}
div#contactEmail a:visited {
    color: white;
}
div#contactAdress {
    display: block;
    margin-top: 40px;
    letter-spacing: 1px;
}
div#contactAdress a {
    font-weight: 900;
    font-size: 13px;
    color: white;
    text-decoration: none;
}
div#contactAdress a:visited {
    color: white;
}
div#contactHours {
    display: block;
    margin-top: 50px
}
div#contactHours .infoContent {
    font-size: 18px;
    padding-top: 0px;
    line-height: 1.8;
}
.imagen span h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 1.39em;
    -webkit-margin-after: 60px;
    -webkit-margin-before: 0px;
    line-height: 1;
}

.imagen span h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 1.39em;
    -webkit-margin-after: 60px;
    -webkit-margin-before: 0px;
    line-height: 1;
}



.imagen span {
    position: relative;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
    font-size: 1.05em;
    width: 35.7%;
    text-align: left;
    padding-left: 267px;
    padding-top: 142px;
    margin-top: 0px;
	
}

.imagen h5 {
    line-height: 1.77;
    margin-top: -42px;
	font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 1.05em;
}



#ProEsteros .imagen span, #HumedalesRamsar .imagen span {
    padding-top: 99px;
}

#TAE .imagen span {
    padding-top: 120px;
	margin-left: 200px;
}


#StoneCo .imagen span {
    padding-top: 120px;
}


#BajaVet .imagen span, #IleanaBarrientos .imagen span {
    padding-top: 350px;
}


span.blackText {
    color: #000;
	
}

span.whiteText {
    color: #fff;
	margin-top: 0px;
	padding-top: 50px;	
	
}
.imagen p {
    line-height: 1.77;
    margin-top: -42px;
}
.swipeableDiv {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.opaqueDiv {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    opacity: 0;
}
.fadeable-item {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    position: absolute;
    opacity: 0;
}
.fadeable-top {} .visibleDiv {
    opacity: 1;
}
#imagenesEfectos {} #logoflotante {
    position: fixed;
    left: 22px;
    height: 85px;
    width: 82px;
    background-image: url(../images/logo.svg);
    top: 0;
    z-index: 1001;
}
#home {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/example.jpg);
    background-size: cover;
}
#aparicion {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    bottom: 0;
    width: 117px;
    background-color: transparent;
    z-index: 50000;
}
#content {
    float: left;
    border: 1px solid transparent;
    top: 100px;
    left: 284px;
    position: relative;
    color: white;
    font-size: 30px;
    text-shadow: 0 0 8px black;
}
#video_background {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    background: url(../images/example.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#navicon {
    background: rgba(37, 37, 37, .41);
    /*background-image: url(../images/navicon.png);*/
    background-image: url(../images/logo.svg);
    background-size: cover;
    position: absolute;
    z-index: 9000;
    width: 85px;
    height: 85px;
    margin-left: 25px;
    margin-top: 5px;
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out
}
#navicon.on {
    -webkit-transform: translate(-25px, 0px);
    -moz-transform: translate(-25px, 0px);
    -o-transform: translate(-25px, 0px);
    -ms-transform: translate(-25px, 0px);
    transform: translate(-25px, 0px)
}
#hProyectos {
    margin-top: 143px;
    font-size: 14px;
}
#hCiruela {
    font-size: 14px;
}
.der {
    position: absolute;
    width: 50%;
    margin-left: 50%;
    bottom: 20px;
    height: 100%;
    vertical-align: bottom;
    text-align: left;
    z-index: 50;
    padding-left: 3px;
}
.izq {
    position: absolute;
    width: 50%;
    margin-left: 0px;
    bottom: 20px;
    height: 100%;
    vertical-align: bottom;
    text-align: right;
    z-index: 50;
    padding-right: 3px;
}
@media all and (max-width: 1024px) and (min-width: 400px) {
    
.imagen span#hiText {
font-family: 'Titillium Web', sans-serif;
padding-left: 279px;
padding-top: 168px;
width: 61.5%;
}

.imagen #hiText h2 {
margin-left: -6px;
letter-spacing: 10px;
font-size: 100px;
font-weight: 200;
color: yellow;
}
.imagen #hiText p {
font-size: 22px;
margin-top: -30px;
font-weight: 200;
letter-spacing: 1.2px;
line-height: 1.4;
}
.imagen span {
position: relative;
display: block;
font-family: 'Titillium Web', sans-serif;
font-weight: 100;
font-size: .95em;
width: 50%;
text-align: left;
padding-left: 267px;
padding-top: 98px;
margin-top: 0px;
}
#archipielago_span
{
    width: 27%;
}
#bajarack_span
{
    width: 42%;
    padding-left: 216px;
}
#bajavet_span
{
    width: 31%;

}
#cruzroja_span
{
    width: 38%
}

#elemento_span
{
    width: 33%;
}

#ramsar_span
{
width: 55%;
}

#ileana_span
{
width: 34%;
}

#mod_span
{
width: 31%;
}

#proestero_span
{
width: 53%;
}

#TAE_span
{
width: 53%;
padding-left: 12px;
}

}
